<h1>Welcome</h1>
<br />
<% if !logged_in? %>
  <%= link_to "Login", '/login',  {class: "btn btn-info"} %>
  <br />
  <br />
  <%= link_to "Sign Up", '/users/new',  {class: "btn btn-info"} %>
<% else%>
  <%= link_to 'My profile', "/users/#{current_user.id}",  {class: "btn btn-info"} %>
  <br />
  <br />
  <%= link_to 'My contracts', contracts_path,  {class: "btn btn-info"} %>
  <br />
  <br />
  <%= link_to 'The products', products_path,  {class: "btn btn-info"} %>
<% end %>
