<p id="notice"><%= notice %></p>

<p>
  <strong>Sfid:</strong>
  <%= @contract.sfid %>
</p>

<p>
  <strong>Accountid:</strong>
  <%= @contract.accountid %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @contract.startdate %>
</p>

<p>
  <strong>Contract Term (months):</strong>
  <%= @contract.contractterm %>
</p>

<p>
  <strong>Status:</strong>
  <%= @contract.status %>
</p>

<p>
  <strong>Special Terms:</strong>
  <%= @contract.specialterms %>
</p>

<p>
  <strong>Description:</strong>
  <%= @contract.description %>
</p>

<%= link_to 'My contracts', contracts_path,  {class: "btn btn-info"} %>
