<!DOCTYPE html>
<html>
  <head>
    <title>RailsMobile</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <head>
      <% if logged_in? %>
        <h1>You are Logged In, <%= current_user.firstname %></h1>
      <%end%>
      <%= button_to "Login", '/login', method: :get%>
      <%= button_to "Sign Up", '/users/new', method: :get%>

      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
    </head>
    <%= yield %>
  </body>
</html>
